<div class="child-container">
  <h2>Homepage - User Data:</h2>
  <div class="homepage-table">
    <dl class="default-font-size">
      <dt>id</dt>
      <dd>{{ userData?.id }}</dd>

      <dt>user email</dt>
      <dd>{{ userEmail }}</dd>

      <dt>name</dt>
      <dd>{{ userData?.name }}</dd>

      <dt>username</dt>
      <dd>{{ userData?.username }}</dd>

      <dt>address</dt>
      <dd>
        <dl>
          <dt>street</dt>
          <dd>
            {{ userData?.address?.street }}
          </dd>
          <dt>suite</dt>
          <dd>
            {{ userData?.address?.suite }}
          </dd>
          <dt>city</dt>
          <dd>
            {{ userData?.address?.city }}
          </dd>
          <dt>zipcode</dt>
          <dd>
            {{ userData?.address?.zipcode }}
          </dd>

          <dt>geo</dt>
          <dd>
            <dl>
              <dt>lat</dt>
              <dd>
                {{ userData?.address?.geo?.lat }}
              </dd>

              <dt>lng</dt>
              <dd>
                {{ userData?.address?.geo?.lng }}
              </dd>
            </dl>
          </dd>
        </dl>
      </dd>

      <dt>phone</dt>
      <dd>{{ userData?.phone }}</dd>

      <dt>website</dt>
      <dd>{{ userData?.website }}</dd>

      <dt>company</dt>
      <dd>
        <dl>
          <dt>name</dt>
          <dd>
            {{ userData?.company?.name }}
          </dd>

          <dt>catchPhrase</dt>
          <dd>
            {{ userData?.company?.catchPhrase }}
          </dd>

          <dt>bs</dt>
          <dd>
            {{ userData?.company?.bs }}
          </dd>
        </dl>
      </dd>
    </dl>

    <button type="button" class="button btn-logout-color" (click)="onLogout()">
      Log out
    </button>
  </div>
</div>
