<div class="controller">
  <label [for]="controlAttrData.label">{{ controlAttrData.label }}:</label>
  <br />
  <input
    #inputControlRef="ngModel"
    name="{{ controlAttrData.label }}"
    type="{{ controlAttrData.type }}"
    placeholder="{{ controlAttrData.placeholder }}"
    required="{{ controlAttrData.isRequired }}"
    [appCheckEmail]="controlAttrData.checkEmail"
    [(ngModel)]="controlAttrData.value"
    (keyup)="onChange(controlAttrData.value)"
  />

  <div style="height: 15px; margin-bottom: 10px">
    <app-error-message-control
      *ngIf="inputControlRef.dirty && inputControlRef.invalid"
      [errors]="inputControlRef.errors"
    ></app-error-message-control>
  </div>
</div>
