<div class="child-container">
  <h2>Login:</h2>
  <div class="login-table">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset class="login-table-fieldset">
        <ng-container *ngFor="let control of controls">
          <app-input
            [label]="control"
            [type]="control === 'password' ? 'password' : 'text'"
            [placeholder]="'Enter ' + control"
            formControlName="{{ control }}"
          ></app-input>
        </ng-container>
      </fieldset>
      <app-button-submit [formGroup]="loginForm"></app-button-submit>
    </form>
  </div>
</div>
