.error-messages {
  color: #a10010; /* Red color for error messages */
  font-size: 0.55rem; /* Smaller font size for error messages */
  margin-top: 0.25rem;
  position: absolute; /*  Position the error messages absolute to their container */
  bottom: -1.5rem; /* Adjust the position to display below the input field */
  left: 0; /* Align to the left of the parent container */
  z-index: 10; /* Ensure the error messages appear above other elements */
  background-color: #ff77777a; /* Light red background for better visibility */
  padding: 0.25rem;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  margin-bottom: 0.25rem;
}
