.text-center {
  text-align: center;
}

.default-font-size {
  font-size: calc(0.2rem + 1vw);
}

.button {
  border: none;
  color: white;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5%;
  border: #797979 3px solid;
}
.button:active {
  transform: scale(0.95);
}

.btn-submit-color {
  background-color: #008cba;
}

.btn-logout-color {
  background-color: #c0c0c0;
  color: #000;
}
